#terminalPoint{
	-fx-fill: WHITE;
	-fx-stroke: BLACK;
	-fx-opacity: 0.1;
}
#TransitionStyle1{
	-fx-stroke-width:3px;
}
#TransitionStyle2{
	-fx-stroke-width:3px;
	-fx-stroke: red;
	-fx-stroke-dash-array: 12 2 4 2;
    	-fx-stroke-dash-offset: 6;
    	-fx-stroke-line-cap: butt;
}
#StateStyle1{
	-fx-stroke-width:3px;
	-fx-fill: WHITE;
	-fx-stroke: BLACK;
}
#StateStyle2{
	-fx-stroke-width:3px;
	-fx-fill: WHITE;
	-fx-stroke: red;
	-fx-stroke-dash-array: 12 2 4 2;
    	-fx-stroke-dash-offset: 6;
    	-fx-stroke-line-cap: butt;
}
#StateDiagramStyle1{
	-fx-border-color: #000000;
	-fx-border-width: 3px;
}

#StateDiagramStyle2{
	-fx-border-color: red;
	-fx-border-width: 3px;
}
#img{
	-fx-background-color: red;
}